DB_PORT=3306

DB_HOSTNAME=localhost
DB_USERNAME=root
DB_PASSWORD=''
DB_NAME=bytedance_hackathon

SECURITY_PASSWORD_SALT=fkslkfsdlkfnsdfnsfd

CUSTOM_PRICE_KEY =
STRIPE_PRIVATE_KEY=
WEB_HOOK_KEY=

PASSAGE_API_KEY=
PASSAGE_APP_ID=